*{margin:0;padding:0}
body{
	transition:cubic-bezier(0, 0, 0, 1.24) 6s;
	-webkit-transition:cubic-bezier(0, 0, 0, 1.24) 6s;
	-moz-transition:cubic-bezier(0, 0, 0, 1.24) 6s;
	-o-transition:cubic-bezier(0, 0, 0, 1.24) 6s;
	-ms-transition:cubic-bezier(0, 0, 0, 1.24) 6s;
}

#main_wrapper{
	width:100%;
}
header{
    background-image: url(img/1.png);
    height: 295px;
}

header #p{
margin-left: 183px;
    margin-top: 102px;
    background-color: #37879d;
    display: inline-block;
    /* padding: 9px; */
    padding-right: 162px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30pt;
    color: white;
    font-weight: 600;
}
#main{
	margin:0 auto;
}
#warp{
	width: 996px;
    height: 94px;
    background-color: white;
	margin:0 auto;
}

#a {
	
}

#a img {
   float: left;
    margin-left: 18px;
    margin-top: 21px;}
#a p {
	float: left;
    color: #6d6666;
    font-size: 30pt;
    margin-top: 17px;
    margin-left: 10px;
}


#b{
	
}

#b ul{
margin-left: 722px;
}

#b ul li{
    list-style: none;
    float: left;
    background: #76b2c3;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 10px;

}


#b ul li a{
	text-decoration:none;
	    margin-left: 12px;
}




#c{
	
}

#c ul{

}

#c ul li{
    list-style: none;
    float: right;
    padding: 24px;

}

#c ul li a{
	text-decoration:none;
	color: green;
}

#c ul li a:hover{
	color:#37879d;
}







content{

}
.bgc{
	background-image:url("img/bgc.png");
	width:100%;
	height: 600px;
	margin-top: 32px;
}
#fst{
	margin-top: 35px;
}
#c_wrap{
	width: 960px;
    margin: 0 auto;
}
 
#book{
	border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    display: inline-block;
	padding: 29px;
}
 #book img{
	    display: block;
}
 #fst p{
    float: left;
    background: #f1715e;
    padding-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 67px;
    margin-top: -5px;
	color:white;
}
#fst #c .t{
    padding: 10px;
    background:#4999af;
	color:white;
}


#d{
	
}
#glass{
    float: left;
    margin-top: -200px;
    margin-left: 59px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    padding-left: 86px;
    padding-right: 56px;
    padding-top: 30px;
    padding-bottom: 30px;
}
 #sce p{
    float: left;
    background:#f1715e;
    padding-right: 74px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    margin-top: -6px;
    margin-left: 59px;
	color:white;
}
#sce #d .t{
    padding: 10px;
    background: #4999af;
	margin-left:0px;
	color:white;
	padding-left: 14px;
}


#e{
	
}
#ts{
    float: left;
    margin-top: -232px;
    margin-left: 396px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    padding-left: 86px;
    padding-right: 56px;
    padding-top: 30px;
}
 #trd #e p{
    float: left;
    background:#f1715e;
    padding-right: 126px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    margin-top: -34px;
    margin-left: 396px;
	color:white;
}
#trd #e .t{
    padding: 10px;
    background: #4999af;
    margin-left: 0px;
	color:white;
}



#r_book{
	border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    display: inline-block;
	padding: 29px;
	float: left;
    margin-top: 58px;
}
 #r_book img{
	    display: block;
}
 #r_fst p{
    float: left;
    background: #f1715e;
    padding-right: 145px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 67px;
    margin-top: 252px;
    margin-left: -289px;
	color:white;
}
#r_fst #r .t{
    padding: 10px;
    background: #4999af;
    margin-left: -53px;
	color:white;
	
}

#r_sec img{
border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    margin-left: -611px;
    margin-top: 94px;
    padding-left: 86px;
    padding-right: 56px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#f .g{
    padding: 10px;
    background: #4999af;
	margin-left:0px;
	color:white;
	padding-left: 14px;
}

#f p{
    float: left;
    background: #f1715e;
    padding-right: 74px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    margin-top: -6px;
    margin-left: 57px;
	color:white;
	-webkit-margin-left:57px;
} 

#r_trd{
	    margin-left: 293px;
}
#r_ts{
    float: left;

    margin-top: -228px;
    margin-left: 396px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    padding-left: 86px;
    padding-right: 56px;
    padding-top: 30px;
}
 #r_trd #t1 p{
    float: left;
    background:#f1715e;
    padding-right: 126px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    margin-top: -34px;
    margin-left: 396px;
	color:white;
}
#r_trd #t1 .l{
padding: 10px;
background: #4999af;
margin-left: 616px;
color: white;
margin-top: -40px;
padding-left: 13px;
}

#bgc_f{
	background-color: #000000;
    width: 100%;
    height: 169px;
    margin-top: 79px;
}

#div1{
    padding-top: 16px;
	float:left;
}

 #div1  p{
    margin-left: 192px;
    font-size: 15pt;
    color: #f3eeea;
}

#div1 ul li {
    font-size: 18pt;
    margin-left: 193px;
    margin-top: 25px;
    background: #4999af;
    display: -webkit-inline-box;
    padding-left: 54px;
    padding-right: 60px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 9px;
	list-style:none;
	
	
}

#div1 ul li:hover{
	background:#f1715e;
}

#div1 ul li a {
	text-decoration:none;
	color: #f3eeea;
}

#div2{
    margin-top: 10px;
    padding-top: 6px;
    padding-left: 58px;
    float: left;
}

#div2 #ser {
	padding-bottom: 22px;
    font-size: 19pt;
	 color: #f3eeea;
}

#div2 #day{
	font-size: 17pt;
	 color: #f3eeea;
}

#div2 #learm{
	 color: #f3eeea;
}

#div3{
	padding-left: 882px;
    padding-top: 18px;
}

#div3 p{
	padding-bottom: 21px;
    font-size: 19pt;
	color: #f3eeea;
}

#div3 ul li{
	list-style:none;
}

#div3 ul li a{
	text-decoration:none;
}

#div3 ul li a img{
    float: left;
    padding-right: 25px;
}

#ff{
    border-top: 4px solid #6b6b6a;
    margin-top: 60px;
    width: 973px;
    margin-left: 192px;
	
}

#fo p{
    margin-left: 192px;
    margin-top: 6px;
    font-size: 14pt;
    color: #f3eeea;
}